* {
     margin: 0;
     padding: 0;
}

.home-layout-one {
     position: relative;
     height: calc(100vh + 0em);
     background-size: cover;
     width: 100%;  
     background-position: top center;
     background-repeat: no-repeat;
     background-image: url('../images/banner-1.svg');
}

.home-layout-two {
     position: relative;
     height: calc(100vh + 14em);
     background-size: cover;
     width: 100%; 
     background-position: top center;
     background-repeat: no-repeat;
     background-image: url('../images/banner-2.svg');
     
}