* {
     margin: 0;
     padding: 0;
}

/*
#################################
##        Navbar               ##   
#################################
*/

.nav-container {
     width: 100%;
     max-width: 1600px;
     margin: 0 auto;
     padding: 10px 15px;
}

.navbar-section {
     min-height: 150px;
     display: flex;
     align-items: center;
}

.navbar-section .navbar-logo {
     width: 100%;
     max-width: 190px;
}

.nav-topbar .nav-topbar-search {
     width: 100%;
     max-width: 180px;
}

::placeholder {
     font-family: "popping-regular";
     font-size: 15px;
}

.nav-topbar .nav-topbar-search button {
     border: 0px;
     background: #fff;
}

.nav-topbar .nav-topbar-search .input-group-text {
     border-radius: 1.2rem;
}

.nav-topbar .nav-topbar-search input[type="text"] {
     background-color: #ffffff;
     border-right: 0px solid #fff;
     border-radius: 1.2rem;
}

.nav-topbar .nav-topbar-search .input-group-text {
     background-color: #ffffff;
}

.form-control:focus {
     border-color: #ced4da;
     outline: 0;
     box-shadow: 0 0 0 .25rem rgb(13 110 253 / 0%)
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
     border-color: #ced4da00;
}

.navbar-toggler-icons:nth-child(1) {
     display: block;
     width: 30px;
     height: 2px;
     background-color: #363636;
}

.navbar-toggler-icons:nth-child(2) {
     display: block;
     width: 30px;
     height: 2px;
     margin-top: 8px;
     background-color: #363636;
}

.navbar-toggler-icons:nth-child(3) {
     display: block;
     width: 30px;
     height: 2px;
     margin-top: 8px;
     background-color: #363636;
}

@media(max-width:1266px) {
     .navbar-nav {
          column-gap: 1em;
     }
}

@media (max-width:768px) {
     .navbar-section {
          min-height: 103px;
     }
}

/*
#################################
##        Navbar               ##   
#################################
*/



/*
#################################
##        Section 1            ##   
#################################
*/

/* .home-layout-one {
     position: relative;
     height: calc(100vh - 0em);
     background-size: cover;
     width: 100%;  
     background-position: top center;
     background-repeat: no-repeat;
     background-image: url('../images/banner-1.svg');
} */
.home-layout-one  .layout-one-content{
     position: absolute;
     top:100px;
     left:150px;  
}
.home-layout-two {
     position: relative;
     top: 0;
     /* height: calc(100vh + 14em);
     background-size: cover;
     width: 100%; 
     background-position: top center;
     background-repeat: no-repeat;
     background-image: url('../images/banner-2.svg'); */

}


.home-layout-three {
     position: relative;
     top: -16px;
     /* height: calc(100vh - 0em);
     background-size: cover;
     width: 100vw;  
     background-position: top center;
     background-repeat: no-repeat;
     background-image: url('../images/banner-4.svg'); */
}