* {
  margin: 0;
  padding: 0;
}

body {
  color: #000000;
  box-sizing: border-box;
  font-family: poppins-light;
}

:root {
  --black: #000;
  --white: #fff;
  --blue: #4193d1;
  --primary: #ffc514;
  --primary2: #d4af37;
  --red: #ff6200;
  --dark: #2b2a2b;
  --light-dark: #282828;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link {
  color: #000000;
}

.navbar-nav {
  column-gap: 1.5em;
}

/*
#################################
##        Navbar               ##   
#################################
*/

.nav-container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 10px 15px;
}

.navbar-section {
  min-height: 150px;
  display: flex;
  align-items: center;
}

.navbar-section .navbar-logo {
  width: 100%;
  max-width: 190px;
}

.nav-topbar .nav-topbar-search {
  width: 100%;
  max-width: 180px;
}

::placeholder {
  font-family: "popping-regular";
  font-size: 15px;
}

.nav-topbar .nav-topbar-search button {
  border: 0px;
  background: #fff;
}

.nav-topbar .nav-topbar-search .input-group-text {
  border-radius: 1.2rem;
}

.nav-topbar .nav-topbar-search input[type="text"] {
  background-color: #ffffff;
  border-right: 0px solid #fff;
  border-radius: 1.2rem;
}

.nav-topbar .nav-topbar-search .input-group-text {
  background-color: #ffffff;
}

.form-control:focus {
  border-color: #ced4da;
  outline: 0;
  box-shadow: 0 0 0 .25rem rgb(13 110 253 / 0%)
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
  border-color: #ced4da00;
}

.navbar-toggler-icons:nth-child(1) {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #363636;
}

.navbar-toggler-icons:nth-child(2) {
  display: block;
  width: 30px;
  height: 2px;
  margin-top: 8px;
  background-color: #363636;
}

.navbar-toggler-icons:nth-child(3) {
  display: block;
  width: 30px;
  height: 2px;
  margin-top: 8px;
  background-color: #363636;
}

@media(max-width:1266px) {
  .navbar-nav {
       column-gap: 1em;
  }
}

@media (max-width:768px) {
  .navbar-section {
       min-height: 103px;
  }

}

/*
#################################
##        Navbar               ##   
#################################
*/
@font-face {
  font-family: poppins-light;
  src: url(../fonts/Poppins-Light.ttf);
  font-weight: 700;
}

@font-face {
  font-family: popping-regular;
  src: url(../fonts/Poppins-Regular.ttf);
  font-weight: 200;
}

@font-face {
  font-family: popping-medium;
  src: url(../fonts/Poppins-Medium.ttf);
  font-weight: 200;
}

@font-face {
  font-family: popping-semibold;
  src: url(../fonts/Poppins-SemiBold.ttf);
  font-weight: 400;
}

@font-face {
  font-family: popping-bold;
  src: url(../fonts/Poppins-Bold.ttf);
  font-weight: 700;
}


@font-face {
  font-family: roboto-light;
  src: url(../fonts/Roboto-Light.ttf);
  font-weight: 400;
}

@font-face {
  font-family: roboto-regular;
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: roboto-medium;
  src: url(../fonts/Roboto-Medium.ttf);
  font-weight: 400;
}

@font-face {
  font-family: roboto-bold;
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: 400;
}



/********** Font Family - Variable *********/
[data-font-style="poppins-light"] {
  font-family: Poppins-Light;
}

[data-font-style="popping-regular"] {
  font-family: popping-regular;
}

[data-font-style="popping-medium"] {
  font-family: popping-medium;
}

[data-font-style="popping-bold"] {
  font-family: popping-bold;
}



[data-font-style="roboto-light"] {
  font-family: roboto-light;
}

[data-font-style="roboto-regular"] {
  font-family: roboto-regular;
}

[data-font-style="roboto-medium"] {
  font-family: roboto-medium;
}

[data-font-style="roboto-bold"] {
  font-family: roboto-bold;
}


/********** Font Family - Variable *********/
/********** Default Color *********/
/*** BG Color **/
[data-bgcolor="white"] {
  background-color: #fff;
}

[data-color="dark-blue"] {
  background-color: #006BAD;
  #374486
}

[data-bgcolor="blue"] {
  background-color: #0082CF;
}

[data-bgcolor="primary"] {
  background-color: #FF5F00;
}

[data-bgcolor="primary2"] {
  background-color: #d4af37;
}

[data-bgcolor="gray"] {
  background-color: #f0f0f0;
}

[data-bgcolor="lightgray"] {
  background-color: rgba(0, 130, 207, 0.05);
}

[data-bgcolor="dark"] {
  background-color: #2b2a2b;
}

[data-bgcolor="footer"] {
  background-color: #F1F1F1;
}

/** Color **/
[data-color="black"] {
  color: #000000;
}

[data-color="primary"] {
  color: #333333;
}

[data-color="blue"] {
  color: #374486;
}
[data-color="maroon"] {
  color: #3f2e20;
}
[data-color="darkgray"] {
  color: #3f2e20;
}


/********** Default Color *********/

/********** Default Line Height *********/
[line-height="1.8em"] {
  line-height: 1.8em;
}

[line-height="1.7em"] {
  line-height: 1.7em;
}

[line-height="1.6em"] {
  line-height: 1.6em;
}

[line-height="1.5em"] {
  line-height: 1.5em;
}

[line-height="1.4em"] {
  line-height: 1.4em;
}

[line-height="1.3em"] {
  line-height: 1.3em;
}

[line-height="1.2em"] {
  line-height: 1.2em;
}

/********** Default Line Height*********/


/********** Default Heading *********/
/**** EM Size ***/
[data-heading="7em"] {
  font-size: 7em;
}

[data-heading="5em"] {
  font-size: 5em;
}

[data-heading="4.5em"] {
  font-size: 4.5em;
}

[data-heading="4em"] {
  font-size: 4em;
}

[data-heading="3.7em"] {
  font-size: 3.7em;
}

/**** Pixels Size ***/
[data-heading="30px"] {
  font-size: 30px;
}

[data-heading="28px"] {
  font-size: 28px;
}

[data-heading="25px"] {
  font-size: 25px;
}

[data-heading="24px"] {
  font-size: 24px;
}
[data-heading="23px"] {
  font-size: 23px;
}


/********** Default Heading *********/

/********** Default paragraph *********/
[data-para="22px"] {
  font-size: 22px;
}

[data-para="20px"] {
  font-size: 20px;
}

[data-para="18px"] {
  font-size: 18px;
}

[data-para="17px"] {
  font-size: 17px;
}

[data-para="16px"] {
  font-size: 16px;
}

[data-para="15px"] {
  font-size: 15px;
}

[data-para="14px"] {
  font-size: 14px;
}

[data-para="1.4em"] {
  font-size: 1.4em;
}

[data-para="1.3em"] {
  font-size: 1.3em;
}

[data-para="1.2em"] {
  font-size: 1.2em;
}

/********** Default paragraph *********/

@media(max-width:1200px) {

  [data-heading="3.7em"] {
    font-size: 3em;
  }

  [data-heading="25px"] {
    font-size: 20px;
  }

  [data-para="22px"] {
    font-size: 20px;
  }
  [data-heading="23px"] {
    font-size: 20px;
  }
}

@media(max-width:991px) {
  [data-heading="25px"] {
    font-size: 16px;
  }
  [data-heading="23px"] {
    font-size: 19px;
  }
  [data-para="22px"] {
    font-size: 18px;
  }

  [data-heading="4.5em"] {
    font-size: 3em;
  }

  [data-heading="30px"] {
    font-size: 20px;
  }

  [data-heading="3.7em"] {
    font-size: 2.5em;
  }

}

/****** Font Family *******/

@media (max-width:766px) {
  [data-heading="4.5em"] {
    font-size: 2.5em;
  }
  [data-para="22px"] {
    font-size: 16px;
  }
   

}

@media (max-width:500px) {

  [data-heading="30px"] {
    font-size: 18px;
  }
 
}

@media (max-width:425px) {}